---
title: Blog
permalink: /blog/
---
<h1>Latest Posts</h1>

{% for post in site.posts %}
  <article class="article__list">

    <figure class="article__thumbnail">
      <a href="{{ post.url }}" tabindex="-1">
        <picture>
          <source srcset="{{ post.thumbnail }}.avif" type="image/avif">
          <source srcset="{{ post.thumbnail }}.webp" type="image/webp">
          <img src="{{ post.thumbnail }}.jpeg" alt="">
        </picture>
      </a>
    </figure>

    <div class="article__content">
      <h2><a href="{{ post.url }}"
        {% if post.external == true %}
          class="article__external"
        {% endif %}
        >{{ post.title }} 
        
      </a></h2>
      {{ post.excerpt }}
    </div>
  </article>
{% endfor %}