---
layout: default
---
<div class="home__about">
    <div class="home__profile">
        <h1>Hi, I'm Tommy Oldfield!</h1>
        <p>
            I'm a full-stack web developer from Dundee, Scotland.<br>
            I currently work for the University of St Andrews.<br>
            You can read more about me and my work, but stick around for blog posts about tutorials and tech.
        </p>
    </div>
    <picture class="home__headshot">
        <source srcset="{{ site.assetUrl }}tommy-headshot.avif" type="image/avif">
        <source srcset="{{ site.assetUrl }}tommy-headshot.webp" type="image/webp">
        <img src="{{ site.assetUrl }}tommy-headshot.jpeg" alt="Tommy Oldfield">
    </picture>
</div>

<h2>Latest posts</h2>
{% for post in site.posts limit:3 %}
  {% include article-list.html %}
{% endfor %}

<h2 id="work">Work</h2>
<div class="work__grid">
    {% include work-tile.html slug="university-of-st-andrews" image="uofsta-thumbnail" title="University of St Andrews" alt="University of St Andrews homepage shown on a laptop." %}
    {% include work-tile.html slug="cs50" image="harvard-university-flag" title="CS50" alt="A long red flag flying off of a building at Harvard University. The flag reads Harvard University graduate school of arts and sciences." %}
    {% include work-tile.html slug="wavlength" image="wavlength-thumbnail" title="Wavlength" alt="The playlist creation screen from the Wavlength web app. A heading tells the user that their playlist has been created and shows a list of songs by their respective artists." %}
</div>

