<article class="article__list">

    <figure class="article__thumbnail">
      <a href="
      {% if post.external == true %}
        {{ post.ext-url }}
      {% else %}
        {{ post.url }}
      {% endif %}
      " tabindex="-1"
      {% if post.external == true %}
        class="article__external umami--click--{{ post.slug }}"
      {% endif %}
      >
        <picture width="300px" height="200px">
          <source srcset="{{ post.thumbnail }}.avif" type="image/avif">
          <source srcset="{{ post.thumbnail }}.webp" type="image/webp">
          <img src="{{ post.thumbnail }}.jpeg" loading="lazy" alt="{{ post.title }} post thumbnail" width="300px" height="200px">
        </picture>
      </a>
    </figure>

    <div class="article__content">
      {% if page.url == "/" %}
      <h3>
      {% else %}
      <h2>
      {% endif %}
        <a href="
        {% if post.external == true %}
          {{ post.ext-url }}
        {% else %}
          {{ post.url }}
        {% endif %}
        "
        {% if post.external == true %}
          class="article__external umami--click--{{ post.slug }}"
        {% endif %}
        >{{ post.title }}  
      </a>
      {% if page.url == "/" %}
      </h2>
      {% else %}
      </h2>
      {% endif %}

      <p class="article__excerpt">{{ post.excerpt | strip_html | normalize_whitespace | truncatewords: 50 }}</p>

      <dl class="article__metadata">
        <dt><i class="fa-solid fa-calendar-days" aria-hidden="true" title="Date"></i></dt>
        <dd>{{ post.date | date: "%-d %B %Y" }}</dd>
      </dl>
    </div>
  </article>