<footer>
    <div class="footer__wrapper">
        <ul class="footer__social-links">
            <li><a href="https://www.linkedin.com/in/tommyoldfield/" target="_blank" rel="noopener noreferrer" aria-label="LinkedIn">
                <i class="fab fa-linkedin-in fa-2x"></i>
            </a></li>

            <li><a href="https://github.com/oldfieldtc" target="_blank" rel="noopener noreferrer" aria-label="GitHub">
                <i class="fab fa-github fa-2x"></i>
            </a></li>

            <li><a href="mailto:me@tommyoldfield.com" aria-label="me@tommyoldfield.com">
                <i class="fa-solid fa-envelope fa-2x"></i>
            </a></li>

            <li><a href="/feed.xml" aria-label="RSS feed">
                <i class="fa-solid fa-rss fa-2x"></i>
            </a></li>
        </ul>

        <p class="footer__copyright">
            Copyright Tommy Oldfield 2019-2023 ©
        </p>
    </div>

</footer>
<script src="../assets/js/script.js"></script>
