<footer>
    <ul>
        <li><a href="https://www.linkedin.com/in/tommyoldfield/" target="_blank" rel="noopener noreferrer" aria-label="LinkedIn">
            <span class="fa-stack fa-2x">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fab fa-linkedin-in fa-stack-1x fa-inverse"></i>
            </span>
        </a></li>

        <li><a href="https://twitter.com/meatotommy" target="_blank" rel="noopener noreferrer" aria-label="Twitter">
            <span class="fa-stack fa-2x">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
            </span>
        </a></li>

        <li><a href="https://github.com/oldfieldtc" target="_blank" rel="noopener noreferrer" aria-label="GitHub">
            <span class="fa-stack fa-2x">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fab fa-github fa-stack-1x fa-inverse"></i>
            </span>

        <li><a href="mailto:me@tommyoldfield.com" aria-label="Email">
            <span class="fa-stack fa-2x">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="far fa-envelope fa-stack-1x fa-inverse"></i>
            </span>
        </a></li>
    </ul>

    <p>
        Copyright Tommy Oldfield 2019-2021 ©
    </p>
</footer>
<script src="../assets/js/script.js"></script>
<script src="https://kit.fontawesome.com/28267c8587.js" crossorigin="anonymous"></script>