<div class="work__tile">
    <a href="/work/{{ include.slug }}">
        <picture class="work__thumbnail" width="300px" height="200px">
            <source srcset="{{ site.assetUrl }}{{ include.image }}.avif" type="image/avif">
            <source srcset="{{ site.assetUrl }}{{ include.image }}.webp" type="image/webp">
            <img src="{{ site.assetUrl }}{{ include.image }}.jpeg" alt="{{include.alt}}" loading="lazy" width="300px" height="200px">
        </picture>
        <h3>{{ include.title }}</h3>
    </a>
</div>