:root {
	--navy: #1C2750;
	--blue_accent: #4059B5;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
}

// html > * {
// 	margin: 0;
// 	padding: 0;
// 	min-height: 100vh;
// }

html {
	margin: 0;
	padding: 0;
	min-height: 100vh;
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	height: 100vh;
	display: flex;
	flex-direction: column;
	font-family: "Palanquin", Arial, sans-serif;
	background-color: #FFFFFA;
	color: black;
	box-sizing: border-box;
	a:link {
		color: #335EF3;
		text-decoration: underline;
	}
	a:visited {
		color: #335EF3;
		text-decoration: underline;
	}
	a:hover {
		color: #2a4bb7;
		text-decoration: none;
	}
	a:active {
		color: #2a4bb7;
	}
	a:focus{
		outline: 2px solid var(--navy);
		background-color: var(--navy);
		color: white;
		text-decoration: none;
	}
}

/* HEADER */

header {
	background: var(--navy);
	color: white;
	font-family: "Montserrat", sans-serif;
	font-weight: 700;
	font-size: 30px;
	display: flex;
	justify-content: center;

	.header-container{
		width: 70%;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
		flex-wrap: nowrap;
	}
}

header img {
	max-width: 110px;
}

#navbar-toggle {
	display: none;
	cursor: pointer;
	margin-right: 20px;
	color: white;
	padding: 10px;
	background: none;
	border: none;
}

#navbar-toggle:focus {
	outline: 2px solid white;
}

#nav-list {
	list-style: none;
	margin-left: 20px;
	padding: 0;
	font-size: 30px !important;

	li {
		display: inline;
		
		a {
			padding: 5px 10px;
		}

		a:link {
			color:white;
			text-decoration: none;
		}
		a:visited {
			color:white;
			text-decoration: none;
		}
		a:hover {
			color:white;
			text-decoration: none;
			outline: 2px solid white;
		}
		a:active {
			color:var(--navy);
			background: white;
			text-decoration: underline;
		}
		a:focus {
			outline: 2px solid white;
			text-decoration: none;
		}
	}
}

/* Logo and home link*/
.item-header {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	img {
		display: block;
	}

	#anchor_logo {
		/*width: 110px;*/
		margin: 5px 0;
	}
	#anchor_logo:hover {
		outline: 2px solid white;
	}
	#anchor_logo:focus {
		outline: 2px solid white;
	}

	#anchor_logo_text {
		margin-left: 10px;
		color: white;
		text-decoration: none;
		font-size: 40px;
		text-transform: uppercase;
	}
	#anchor_logo_text:hover {
		text-decoration: underline;
	}
	#anchor_logo_text:focus {
		text-decoration: underline;
	}
}

/* MAIN */
main {
	font-size: 1.2em;
 	text-align: center;
	margin-bottom: 20px;
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;

	p {
		line-height: 1.3;
	}

	h1, h2, h3, h4 {
		font-family: "Montserrat", "Arial", serif;
		margin: 10px 0;
	}

	li {
		ul {
			padding-left: 40px;
		}
	}
}

.container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	text-align: left;
	max-width: 960px;
	margin: 0 20px;

	p {
		margin-bottom: 15px;
	}
}
.container-center {
	align-items: center;
	text-align: center;
	p {
		margin-bottom: 10px;
	}
}

// FOOTER
footer {
	background: var(--navy);
	grid-area: footer;
	text-align: center;
	color: white;
	padding: 20px;

	p {
		margin-bottom: 0;
	}
	a:focus {
		outline: 2px solid white;
	}
}

footer ul {
	margin: 0;
	padding: 0;
	list-style: none;
	color: white;

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;


	li {
		display: inline;
		width: 68px;
		padding: 5px;
		box-sizing: initial;
		a {
			width: 68px;
			box-sizing: initial;
			span{
				box-sizing: initial;
			}
		}

		.fa-stack {
			height: 64px;
			width: 64px;
			border: 2px solid white;
			border-radius: 50%;
		}

		.fa-circle {
			color: var(--navy);
		}

		.fa-linkedin-in {
			// padding-left: 19px;
			// padding-right: 17px;
		}
	}
	li * {
		
	}
}

.fa-stack:hover {
	border: 2px solid var(--navy);

	.fa-circle {
		color: white;
	}
	.fa-inverse {
		color: var(--navy);
	}
}

/* Media Queries */
/* Small screens */
@media screen and (min-width: 769px) {
	#nav-list {
		display: block;
	}
}
@media screen and (max-width: 768px) {
	header {
		.header-container {
			width: 100%;
			flex-direction: column;
		}
	}

	#nav-list {
		width: 100%;
		margin: 0;
		padding: 0;
		border-bottom: 1px solid var(--blue_accent);
		li {
			display: block;
			width: 100%;
			text-align: center;
			border-top: 1px solid var(--blue_accent);
			a {
				display: block;
				width: 100%;
			}
		}
	}

	#header-logo {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		margin: 0 20px;
	}
	.item-header {
		//justify-content: space-between;
		margin-left: 20px;
	}
	#navbar-toggle {
		margin-right: 20px;
		display: block;
		color: white;
	}
	#nav-list {
		display: none;
	}
}

/* Mobile */
@media screen and (max-width: 480px) {
	.item-header {
		#anchor_logo_text {
			display: none;
		}
	}

}