.article__list {
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-gap: 20px;
    margin-bottom: 20px;
    text-align: left;
}

.article__thumbnail {
    & img {
        box-shadow: var(--shadow);
    }
}

.article__metadata {
    display: grid;
    grid-template-columns: max-content 1fr;

    & dt, & dd {
        margin-right: 5px;
        color: var(--sub-text);
    }
}

@media screen and (max-width: 992px){
    .article__list {
        grid-template-columns: 1fr 2fr;
    }

    .article__thumbnail {
        & img {
            height: auto;
        }
    }
}

@media screen and (max-width: 590px) {
    .article__excerpt {
        display: none;
    }
}
