/* CSS custom properties */
:root {
	--navy: #1C2750;
	--blue_accent: #4059B5;
	--white: rgb(252, 252, 252);
	--off_white: rgb(237, 235, 235);
	--mid_grey: rgb(208, 208, 208);
	--sub-text: #6A6A6A;
	--center: 960px;
	--font_head: montserrat;
	--font_body: lato;
	--shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.3);
}

/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, section, summary,
time, mark, audio, video, picture {
	margin: 0;
	padding: 0;
}

code {
	background-color: #E8E8E8;
	color: #A80000;
	padding: 0 3px;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

a:not([class]) {
	text-decoration-skip-ink: auto;
}

body {
	min-height: 100vh;
	display: grid;
	/*grid-template-columns: 1fr 960px 1fr;*/
	grid-template-rows: max-content 1fr max-content;
	grid-template-areas:
		"header"
		"content"
		"footer";
	background-color: var(--white);

	font-family: var(--font_body), Arial, sans-serif;
	color: black;
	line-height: 1.5;
	& a {
		color: #335EF3;
		text-decoration: underline;
	}
	& a:visited {
		color: #335EF3;
		text-decoration: underline;
	}
	& a:hover {
		color: #2a4bb7;
		text-decoration: none;
	}
	& a:focus {
		outline: 2px solid var(--navy);
		background-color: var(--navy);
		color: white;
		text-decoration: none;
	}
	& a:active {
		color: #2a4bb7;
	}

	& h1, & h2, & h3, & h4, & h5, & h6 {
		font-family: var(--font_head), "Arial", serif;
		margin: 0 0 10px 0;
	}

	& h1 {
		font-size: 2em;
	}
}

body a:focus {
	outline: 2px solid var(--navy);
	background-color: var(--navy);
	color: white;
	text-decoration: none;
}

/* Skip to content link */
nav[aria-label="Accessibility links"] {
	position: absolute;
	height: 1px;
	width: 1px;
	margin: -1px;
	overflow: hidden;

	&:focus-within {
		position: fixed;
		height: auto;
		width: auto;
		margin: 0;
		overflow: visible;
		& a {
			display: block;
			margin: 3px 0 0 3px;
			padding: 10px 15px;
			outline: 3px solid #E6AF2E;
			font-size: 1.2em;
			box-shadow: var(--shadow);
		}
	}
}


/* Header */
header {
	background: var(--navy);
	color: var(--white);
	font-family: var(--font_head), sans-serif;
	font-weight: 700;
	font-size: 30px;

	grid-area: header;

	display: grid;
	grid-template-columns: 1fr var(--center) 1fr;
}

.header__wrapper {
	grid-column: 2 / -2;
	display: grid;
	grid-template-columns: 1fr max-content;
	gap: 20px;
	align-items: center;
}

/* Logo */
.logo__wrapper {
	display: grid;
	grid-template-columns: max-content 1fr max-content;
	margin: 10px 0;
}

.logo {
	display: grid;
	grid-template-columns: max-content 1fr;
	gap: 10px;
	align-items: center;

	.logo__text {
		color: var(--white);
		text-decoration: none;

		&:link {
			color: var(--white);
			text-decoration: none;
		}
		&:visited {
			color: var(--white);
			text-decoration: none;
		}
		&:hover {
			color: rgb(237, 235, 235);
			text-decoration: underline;
		}
		&:active {
			color: var(--navy);
			background: var(--white);
			text-decoration: underline;
		}
		&:focus {
			outline: 2px solid rgb(237, 235, 235);
			text-decoration: none;
		}
	}

	.logo__image {
		& picture {
			& img {
				width: 50px;
				height: 50px;
			}
		}

		&:focus {
			outline: 2px solid rgb(237, 235, 235);
		}
	}
}

/* Navigation toggle */
button[aria-controls="nav-list"] {
	display: none;
	cursor: pointer;
	margin-right: 20px;
	color: var(--white);
	padding: 10px 20px;
	background: none;
	border: 2px solid var(--white);
	grid-column: -1 / span 1;
	align-self: center;
	font-size: 20px;
	font-family: var(--font_head), sans-serif;
	text-transform: uppercase;
	font-weight: 700;
}

.header__navigation--toggle:focus {
	outline: 2px solid var(--white);
}

/* Navigation */
.header__navigation {
	justify-self: end;
}

.header__navigation ul {
	list-style: none;
	padding: 0;

	& li {
		display: inline;
		& a {
			padding: 5px 10px;

			&:link {
				color:var(--white);
				text-decoration: none;
			}
			&:visited {
				color:var(--white);
				text-decoration: none;
			}
			&:hover {
				color: rgb(237, 235, 235);
				text-decoration: underline;
			}
			&:active {
				color:var(--navy);
				background: var(--white);
				text-decoration: underline;
			}
			&:focus {
				outline: 2px solid rgb(237, 235, 235);
				text-decoration: none;
			}
		}
	}
}

/* Main */
main {
	grid-area: content;

	font-size: 1.2em;
 	text-align: left;
	margin-bottom: 20px;

	display: grid;
	grid-template-columns: 1fr var(--center) 1fr;

	& p {
		margin-bottom: 10px;
	}
	& ul {
		margin: 0 0 10px 20px;
		& li {
			& ul {
				margin-left: 40px;
			}
		}
	}

	& picture, & source, & img {
		height: auto;
	}
}

.container {
	grid-column: 2 / span 1;
	margin-top: 20px;
}
.container-center {
	align-items: center;
	text-align: center;
}

.grid__full-width {
	grid-column: 1 / -1;
}

.grid__side-right {
	grid-column: span 1 / -1;
	grid-row: span 3;
	align-self: start;
}

.grid__side-left {
	grid-column: 1 / span 1;
	grid-row: span 3;
	align-self: start;
}

.home__about {
	display: grid;
	grid-template-columns: 1fr max-content;
	gap: 20px;
}

.home__headshot {
	display: block;
	max-height: 150px;
	width: 150px;
	height: auto;
	justify-self: end;


	& source, & img {
		height: 100%;
		width: 100%;
		border-radius: 50%;
		box-shadow: var(--shadow);
	}
}

/* Work grid */
.work__grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
	gap: 20px;
}

/* Footer */
footer {
	grid-area: footer;

	background: var(--navy);
	text-align: center;
	color: var(--white);
	padding: 20px;

	& p {
		margin-bottom: 0;
	}
	& a:focus {
		outline: 2px solid var(--white);
	}
}

.footer__social-links {
	margin-bottom: 20px;
	padding: 0;
	list-style: none;

	& li {
		display: inline-block;
		margin: 0 5px;

		&:last-child {
			margin-right: 0;
		}

		&:first-child {
			margin-left: 0;
		}

		& a {
			color: var(--white);
			padding: 12px 18px;
			box-sizing: initial;

			&:hover {
				opacity: 0.8;
			}

			&:active {
				opacity: 1;
			}
		}


	}
}

/* Media Queries */

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
	html:focus-within {
		scroll-behavior: auto;
	}

	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}

@media screen and (max-width: 992px){
	/* Header */
	/* Header */
	header, main {
		grid-template-columns: 1fr;
		padding: 0 20px;
	}
	.header__wrapper, .container {
		grid-column: 1 / -1;
	}
}

/* Small screens */
@media screen and (max-width: 768px) {
	body {
		font-size: 14px;
	}
	/* Header */
	.header__wrapper {
		grid-template-columns: 1fr;
		grid-template-rows: max-content max-content;
		gap: 0;
	}

	.header__navigation {
		justify-self: center;
		width: 100%;
		border-top: 2px solid var(--off_white);

		& ul {
			& li {
				display: block;
				text-align: center;

				& a {
					display: block;
					width: 100%;
					padding: 10px 0;

					&:hover {
						color: var(--navy);
						background: var(--off_white);
						text-decoration: none;
					}
					&:active {
						color:var(--navy);
						background: var(--off_white);
						text-decoration: underline;
					}
					&:focus {
						outline: 2px solid rgb(237, 235, 235);
						text-decoration: underline;
					}
				}
			}
		}

		&[aria-expanded="false"] {
			display: none;
		}

		&[aria-expanded="true"] {
			display: block;
		}
	}

	button[aria-controls="nav-list"] {
		display: block;
	}

	.work__grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
		gap: 20px;
		justify-items: center;
	}

}

@media screen and (max-width: 590px) {
	body {
		font-size: 13px;
	}

	/* Header */
	.logo__text {
		display: none;
	}

	footer {
		font-size: 16px;
	}

}

/* Mobile */
@media screen and (max-width: 480px) {
	.home__about {
		grid-template-columns: 1fr;
	}
	.home__headshot {
		justify-self: center;
		grid-row: 1;
	}

}
