.card__tile {
    display: block;

    max-width: 300px;
    min-width: 100px;
    max-height: 205px;
    /*height: auto;*/

    margin: 10px 10px 20px 10px;
    position: relative;
    box-shadow: var(--shadow);
    overflow: hidden;
    text-align: center;

    & img {
        width: 100%;
        height: auto;
    }

    & h3 {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background: var(--navy);
        opacity: 0.95;
        margin: 0;
        color: white;
        padding: 10px 0;
    }
    &:hover h3{
        background: var(--navy);
        opacity: 1;
    }

    &:focus-within{
        box-shadow: 0 0 0 5px var(--navy);

        & h3 {
            background: var(--navy);
            opacity: 1;
        }
    }

    &:nth-child(3) {
        margin-right: 0;
    }

    &:nth-child(3n+1) {
        margin-left: 0;
    }
}

@media screen and (max-width: 768px) {
    .card__tile {
        margin: 0;
    }
}
