nav.pagination {
    display: block;
    margin: 10px 0;
    &.blog-pagination {
        text-align: center;
    }

    & > * {
        padding: 5px 10px;
        border: 2px solid var(--navy);
        background-color: var(--white);
    }

    & > a {
        display: inline-block;
        text-decoration: none;
        color: black;
        &:hover {
            background-color: var(--off_white);
        }
        &:visited {
            color: black;
        }
        &:focus {
            color: var(--white);
        }
        &:active {
            color: black;
        }
    }
}
