---
import MainLayout from "../layouts/MainLayout.astro";
import Image from "../components/Image.astro";
---
<MainLayout title="About - ">
    <h1>About</h1>

    <h2>TL:DR</h2>
    <div class="home__about">
        <p id="home__profile">
            Hey, I'm Tommy Oldfield.<br>
            I'm a web developer living in Dundee, Scotland.<br>
            I'm 30 years old and I've been making websites and web apps since 2016 (not including trying to edit my MySpace page layout as a teen!).<br>
            I use HTML, CSS, and JavaScript to create my websites and I've used the Python frameworks Django and Flask to create websites and web applications in the past. In my work as a web developer for the <a href="../work/university-of-st-andrews">University of St Andrews</a>, my focus is on PHP and WordPress.
        </p>
        <Image className="home__headshot" filename="tommy-headshot" altText="Tommy Oldfield" />
    </div>

    <h2>More info</h2>
    <p>
        I started my web development journey by completing <a href="https://pll.harvard.edu/course/cs50-introduction-computer-science">Harvard's CS50 Introduction to Computer Science course</a> and then completing <abbr title="CS50's Web Programming with Python and JavaScript course">CS50w</abbr> straight after.<br>
        At the end of 2019, as I was finishing CS50W, I got a job as a web developer for the <a href="../work/university-of-st-andrews">University of St Andrews</a>, which is where I am working to this day.<br>
        Right now I'm using <a href="https://www.terminalfour.com/">TerminalFour</a> to update the site and working with PHP and Javascript to update various WordPress sites and their themes.
    </p>
    <p>
        I also have a few hobbies that keep me busy. I've been playing the guitar since I was 12 and have played in a few bands throughout high school and university. Through playing the guitar, I'm always listening to music, and I'm always on the lookout for new bands and artists to listen to.
        <br>
        I've spent countless hours raiding in Final Fantasy XIV, sim racing in Assetto Corsa, and not getting any better at Dota 2. I'm also an avid Formula 1 fan.
    </p>

    <h2 id="uses">What do I use?</h2>
    <p>Here is all the stuff that I use on a day-to-day basis! I use Windows 11 in my working life and Fedora KDE Plasma for personal projects.</p>
    <h3>Software</h3>
    <h4>Editor</h4>
    <ul>
        <li>After using VS Code for a couple of years, I've started using PhpStorm.</li>
    </ul>
    <h4>Desktop Apps</h4>
    <ul>
        <li>I've been using <a href="https://www.mozilla.org/en-GB/firefox/">Firefox</a> for longer than I can remember.</li>
        <li><a href="https://www.notion.so/">Notion</a> is my second brain.</li>
        <li>For local notes and documentation, I use <a href="https://obsidian.md">Obsidian</a>.</li>
        <li>I use <a href="https://www.gitkraken.com/invite/bsz9MhgE">GitKraken</a> for version control between GitHub, GitLab, and Gitea.</li>
        <li>I can't live without Apple Music! 🎵 I'm using <a href="https://cider.sh/">Cider</a> on desktop and <a href="https://apps.apple.com/gb/app/marvis-pro/id1447768809">Marvis Pro</a> on mobile.</li>
    </ul>

    <h3>Hardware</h3>
    <ul>
        <li>Using an Intel based, dual-boot Linux/Windows build
            <ul>
                <li>Processor - Intel i5-9600K.</li>
                <li>Memory - Corsair Vengeance 16GB.</li>
                <li>Graphics - Sapphire Nitro+ Radeon RX 580 8GB.</li>
            </ul>
        </li>
        <li>Monitor - 49" Samsung C49J89 ultra-wide.</li>
        <li>Keyboard - <a href="https://github.com/oldfieldtc/Lily58-keymap">Lily58</a> Pro with Durock Dolphin Silent Linear switches.</li>
        <li>Mice - Zowie EC2-A and Logitech MX Vertical.</li>
        <li>Audio - I use the Audio Techinica BPHS1 into a Roland Rubix24 which comes out of a pair of Dali Zensor 1's.</li>
        <li>NAS - I use a Synology DS218+ which is used for hosting a Git server and analytics.</li>
    </ul>
</MainLayout>
