<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="/assets/css/style.css">
	<link rel="stylesheet" href="https://use.typekit.net/hke8rff.css">
	<!-- <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Montserrat:700"> -->
	<title>{{ page.title }}{% if page.url != "/" %} | {% endif %}Tommy Oldfield | Full-Stack Web Developer | Dundee, Scotland</title>
</head>
<body>
	{% include navigation.html %}

	<main id="content-begin">
		<div class="container">
			{{ content }}
		</div>
	</main>

	{% include footer.html %}
	<script async defer data-website-id="c02105b5-9f0f-4ec2-b2df-b2f25a371eac" src="https://umami.syntco.xyz/umami.js"></script>
</body>
</html>