<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{% include favicon.html %}

	<link rel="stylesheet" href="/assets/css/style.css">
	<link rel="stylesheet" href="https://use.typekit.net/hke8rff.css">
	<link href="/assets/css/fontawesome/css/all.min.css" rel="stylesheet">
	<title>{{ page.title }}{% if page.url != "/" %} - {% endif %}Tommy Oldfield, Full-Stack Web Developer from Dundee, Scotland</title>
	{% seo title=false %}
	{% feed_meta %}
</head>
<body>
	{% include navigation.html %}

	<main id="content-begin">
		<div class="container">
			{{ content }}
		</div>
	</main>

	{% include footer.html %}
</body>
</html>