<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{% include favicon.html %}

	<link rel="stylesheet" href="/assets/css/style.css">
	<link rel="stylesheet" href="https://use.typekit.net/hke8rff.css">
	<link href="/assets/css/fontawesome/css/all.min.css" rel="stylesheet">
	<title>{{ page.title }}{% if page.url != "/" %} | {% endif %}Tommy Oldfield | Full-Stack Web Developer | Dundee, Scotland</title>
</head>
<body>
	{% include navigation.html %}

	<main id="content-begin">
		<div class="container">
			{{ content }}
		</div>
	</main>

	{% include footer.html %}
	<script async defer data-website-id="83de7e3f-866b-488d-aaf0-70cbd728f574" src="https://umami.syntco.xyz/umami.js"></script>
</body>
</html>