---
import Image from "../components/Image.astro";

import navData from "../data/navData";
---
<nav aria-label="Accessibility links"><a href="#content-begin">Skip to content</a></nav>
<header>
    <div class="header__wrapper">

        <div class="logo__wrapper">
            <div class="logo">
                <a href="/" class="logo__image">
                    <Image filename="tommy-oldfield-logo-small" altText="Tommy Oldfield logo" />
                </a>
                <a href="/" class="logo__text">Tommy Oldfield</a>
            </div>

            <button class="header__navigation--toggle" aria-controls="nav-list" aria-label="Toggle navigation">Menu</button>
        </div>

        <nav aria-label="Main navigation" class="header__navigation" id="nav-list" aria-expanded="false">
            <ul>
                {
                    navData.map((item) => (
                        <li><a href={item.path}>{item.name}</a></li>
                    ))
                }
            </ul>
        </nav>

    </div>
</header>

<script>
    const navButton = document.querySelector('button[aria-controls]');
    const navList = document.querySelector('nav[aria-expanded]');

    function toggleNav({ target }) {
        if (target.getAttribute('aria-controls') === "nav-list") {
            const expanded = navList.getAttribute('aria-expanded') === 'true' || false;
            navList.setAttribute('aria-expanded', !expanded);
            if (!expanded) {
                navButton.classList.add("expanded");
            } else {
                navButton.classList.remove("expanded");
            }
        }
    }

    navButton.addEventListener('click', toggleNav);
</script>
