---
---
<footer>
    <div class="footer__wrapper">
        <nav aria-label="Footer links">
            <ul class="footer__social-links">
                <li><a href="https://www.linkedin.com/in/tommyoldfield/" target="_blank" rel="noopener noreferrer">LinkedIn</a></li>
                <li><a href="https://github.com/oldfieldtc" target="_blank" rel="noopener noreferrer">GitHub</a></li>
                <li><a href="mailto:hello@tommyoldfield.co.uk">hello@tommyoldfield.co.uk</a></li>
                <li><a href="/feed.xml">RSS feed</a></li>
            </ul>
        </nav>


        <p class="footer__copyright">
            Copyright &copy; Tommy Oldfield 2019-<span id="copyrightYear"></span>
        </p>
    </div>
</footer>

<script>
    document.querySelector('#copyrightYear').textContent = new Date().getFullYear().toString();
</script>
