---
import MainLayout from "./MainLayout.astro";
import { formatDate } from "../scripts/utils";
import '../styles/post-content.css';
const { frontmatter } = Astro.props;
const { pubDate, title } = frontmatter;
---

<MainLayout title={ `${title} - ` }>
    <article class="post">
        <h1>{ title }</h1>
        <p>Published on <time datetime={pubDate.toISOString()}>{formatDate(pubDate)}</time></p>
        <slot />
    </article>
</MainLayout>
